<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Banana Island</title>
  <link rel="stylesheet" type="text/css" href="src/css/css.css" />
  <script src="src/js/ios-orientationchange-fix.min.js"></script>
  <script src="src/js/jquery-3.6.0.min.js"></script>
  <script src="src/js/vue.js"></script>
  <script src="src/js/jquery-migrate-1.4.1.min.js"></script>
  <script src="src/js/jquery.rwdImageMaps.min.js"></script>
  <script src="src/js/jquery.mobile-events.min.js"></script>
</head>

<body>

  <div id="app" v-cloak>

    <!--loading-->
    <div class="video-loader" v-if="!pageLoad">
      <div class="text">
        <span class="text-loading">Loading</span>
        <span class="percent">0%</span>
      </div>
    </div>
    <!--loading-->

    <!--again-->
    <img src="src/images/turn.png" @click="resetVideos()" class="restart-turn" v-if="end" title="restart"
      alt="restart" />
    <!--again-->

    <section class="video-list">

      <article class="video-capsul" :class="video.id === activeScene ? 'video-active' : ''" v-for="video in sourceState"
        :data-id="video.id">

        <div class="mouse-whell" :class="video.backTurned ? 'down' : ''" v-if="activeScene < sourceState.length && video.id === activeScene" v-show="mouseWhellShow"></div>

        <!--video-->
        <video v-show="!buildScreen" class="video" :key="video.id" :src="video.src" :autoplay="video.loop"
          :muted="video.muted" :loop="video.loop" playsinline></video>
        <!--video-->

        <!--building-->
        <div class="build-capsul" :data-build="video.id" v-if="video.build">
          <div class="buildings__arrows">
            <button type="button" class="video-arrow left" @click="buildEnter(video.id,'left')"></button>
            <button type="button" class="video-arrow right" @click="buildEnter(video.id,'right')"></button>
            <button type="button" class="video-arrow turn" @click="backCornerBttn(video.id)"></button>
          </div>
          <div class="buildings__build right">
            <img :src="video.buildOptions.rightImg" class="buildings__build--img" :usemap="'#'+'mapRight'+video.id"
              width="1920" height="1080" />
            <map :name="'mapRight'+video.id">
              <area v-for="useMap in video.buildOptions.usemaps" v-if="useMap.position === 'right'" href="javascript:;"
                @click='insideEnter(useMap.href)' :coords="useMap.coords" shape="rect">
            </map>
          </div>
          <div class="buildings__build left">
            <img :src="video.buildOptions.leftImg" class="buildings__build--img" :usemap="'#'+'mapLeft'+video.id"
              width="1920" height="1080" />
            <map :name="'mapLeft'+video.id">
              <area v-for="useMap in video.buildOptions.usemaps" v-if="useMap.position === 'left'" href="javascript:;"
                @click='insideEnter(useMap.href)' :coords="useMap.coords" shape="rect">
            </map>
          </div>

          <img src="src/images/turn.png" @click="buildExit(video.id)" class="buildings__turn" />

          <div class="handrightleft" v-show="isHorizontalScroll && buildScreen"></div>

          <!--insider-->
          <div class="insiderCapsul">
            <div class="insiderItem" v-for="insider in video.buildOptions.usemaps" :data-href="insider.href">
              <img :src="insider.inside" class="insiderCapsul__build--img" :usemap="'#imagemap'+insider.href"
                width="2880" height="1800" />
              <map :name="'imagemap'+insider.href" v-if="insider.iframePosition">
                <area target="" alt="" title="" href="javascript:;" :coords="insider.iframePosition" shape="rect">
              </map>
              <iframe :src="insider.iframeURL" allowtransparency="true" class="iframeCapsul"
                v-if="insider.iframeURL"></iframe>
            </div>
          </div>
          <!--insider-->

        </div>
        <!--building-->

        <!--junction-->
        <div v-if="junction || junctionBack">
          <button type="button" class="video-arrow left" @click="direction('left')"></button>
          <button type="button" class="video-arrow right" @click="direction('right')"></button>
          <button type="button" class="video-arrow turn" @click="backCornerBttn(video.id)"></button>
        </div>
        <!--junction-->

      </article>

    </section>

  </div>

  <script src="src/js/main.js?v=2"></script>

</body>

</html>