[v-cloak] {
  display: none;
}
@font-face {
  font-family: '000_astounder_squared_tbRg';
  src: url('../fonts/astoundersquaredbb-webfont.woff2') format('woff2'),
       url('../fonts/astoundersquaredbb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.video {height: 100%;-o-object-fit: cover;object-fit: cover;left: 0;position: fixed;top: 0;width: 100%;}
.video-capsul {position: fixed;top: 0;width: 100%;}
.video-active {z-index:100 !important} 
.video-arrow {    background-color: transparent;background-position: 50%;background-repeat: no-repeat;background-size: contain;border: 0;
cursor: pointer;height: 115px;padding: 0;position: fixed;width: 180px;top: 10%;transition: all .4s ease;}
.video-arrow.left {background-image: url(../images/leftArrow.png);left: 50%;margin-left: -140px;-webkit-transform: translateX(-50%);transform: translateX(-50%)}
.video-arrow.right {background-image: url(../images/rightArrow.png);left: 50%;margin-left: 140px;-webkit-transform: translateX(-50%);transform: translateX(-50%)}
.video-arrow:hover {opacity: .8;}
.video-arrow.turn {background-image: url("../images/turn.png");left:50%;margin:120px 0 0 -90px;}

.buildings__build, .insiderItem {position: fixed;text-align: center;top:0;left:0;right:0;bottom: 0}
.buildings__build {z-index: 103;overflow-x: auto;overflow-y: hidden;}
.insiderItem {z-index: 104;overflow: hidden;}
.insiderItem:not(.active) {display: none;}

.buildings__build>img, .insiderItem img {min-width: 100%;width: auto;}
.buildings__build>img {height: 100%;object-fit: cover}
.insiderItem img {height: auto}
.buildings__arrows, .buildings__build, .buildings__turn, .build-capsul.active-right .mouse-whell, .build-capsul.active-left .mouse-whell {display: none;}
.video-active .buildings__arrows {display: block;}
.handrightleft {width: 200px;height: 166px;background: url("../images/handrightleft.png") no-repeat center center;position: fixed;right:0;top:0;left:0;z-index: 105;
  margin: auto;animation: leftRight 2s linear infinite;}
.build-capsul.active.right .buildings__build.right, 
.build-capsul.active.left .buildings__build.left, .build-capsul.active .buildings__turn {display: block;}
.buildings__turn, .restart-turn {position: fixed;bottom:0;left:0;right:0;margin: auto;width: 100px;z-index: 105;cursor: pointer;}
.mouse-whell {background: url(../images/mouse-whell.png) no-repeat center center;width: 87px;height:200px;position: fixed;bottom:10px;left:0;right: 0;margin:auto;
  z-index: 102;background-size: 100%;animation: mouseWhell 1s ease-out alternate infinite}
.mouse-whell.down {background-image: url("../images/mouse-whell-down.png");height: 150px;animation: mouseWhellDown 1s ease alternate infinite}
.buildings__build--pathimg {position: absolute;}
.iframeCapsul {position: absolute;z-index: 106;overflow: auto;background-color: #fff}
#onetrust-consent-sdk {display: none !important;opacity: 0 !important;visibility: hidden !important;}
.SprdMain .sprd-startpage-preview-tiles {margin: 10px !important;}
.SprdMain .sprd-listpage, .SprdMain .sprd-listpage__header {margin-left: 0 !important;}
iframe {border:0;outline: 0}
.video-loader {background: url("../images/loadingbg.png") no-repeat center center;background-size: cover;position: fixed;top:0;left:0;width:100%;height: 100%;z-index: 9999;
  font-size: 70px;font-family: '000_astounder_squared_tbRg', Sans-serif;color: #1E2868;}
.video-loader .text {animation: heartbeat 1s infinite;position: fixed;bottom: 64%;right: 0;left: 0;text-align: center}
.text-loading {display: none;}
.exit {position: fixed;top:0;right: 0;background: url("../images/icon-exit.png") no-repeat;width:100px;height: 82px;z-index: 108;text-indent: -9999px;font-size: 0;
transition: transform .4s ease;}
.exit:hover {transform: scale(.95) rotate(5deg)}
.board {position: fixed;left: 0;bottom: 0;z-index: 101;transition: transform 1s ease-in-out;}
.board.hide {transform: translateY(100%);}
body.zoom-out .insiderCapsul__build--img {min-height: 100% !important;height: 1080px !important;}
body.zoom-out .btn-zoomIn {background: url("../images/loupe.svg") no-repeat;width: 100px;position: fixed;right: 0;bottom:0;width:123px;height: 70px;animation: move 1s ease alternate infinite;}
@keyframes move {
  0% {transform:scale(1);}
  100% {transform: scale(.91);}
}


@keyframes mouseWhell {
  0% {bottom:10px}
  100% {bottom:40px}
}
@keyframes mouseWhellDown {
  0% {bottom:10px}
  100% {bottom:40px}
}
@keyframes leftRight {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(10px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-20px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}
@keyframes leftRightMobil {
  0% {
    left: 0;
  }
  50% {
    left: calc(100vw - 104px);
  }
  100% {
    left: 0;    
  }
}
@keyframes heartbeat
{
  0%
  {
    transform: scale( .90 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .90 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .90 );
  }
  100%
  {
    transform: scale( .90 );
  }
}

@keyframes rotate {
  0% {transform: rotate(0deg);} 
  100% {transform: rotate(10deg);} 
}
.mobil-joystick {position: fixed;bottom: 0;left:0;right:0;margin: auto;z-index: 102;width: 170px;height: 140px;}
.mobil-joystick .button {width: 54px;height: 50px;background-repeat: no-repeat;position: absolute;}
.mobil-joystick .button:active {opacity: .5;transform: scale(1.12);}
.mobil-joystick .button.left {background-image: url("../images/mobile-keyboard-left.png");left: 0;top: 45px;}
.mobil-joystick .button.top {background-image: url("../images/mobile-keyboard-top.png");top: 0;left: 60px;}
.mobil-joystick .button.right {background-image: url("../images/mobile-keyboard-right.png");right: 0;top: 45px;}
.mobil-joystick .button.bottom {background-image: url("../images/mobile-keyboard-bottom.png");left: 60px;bottom: 0;}
.mobil-joystick .button.disabled {opacity: .3;pointer-events: none;}

/*responsive*/

@media only screen and (max-height: 770px) {

.insiderItem {margin-top: -60px}

}

@media only screen and (max-height: 700px) {

.insiderItem {margin-top: 0;}
.insiderItem img {width: 1920px}

}

@media only screen and (max-width: 1600px) {
.video-arrow {width:116px;height: 72px;}
.video-arrow.left {margin-left: -100px;}
.video-arrow.right {margin-left: 100px;}
.video-arrow.turn {margin:90px 0 0 -53px;width: 100px;height: 71px;}
.mouse-whell {background-size: 70%;height:145px !important}
.handrightleft {width: 104px;height: 90px;background-size:97px;animation: leftRightMobil 5s linear infinite;right: inherit;}
.buildings__turn, .restart-turn {width: 60px;}

}


@media only screen and (max-width: 992px) {

.buildings__build>img, .insiderItem img {height: 100%}
.video-arrow {width:80px;height: 70px;}
.video-arrow.left {margin-left: -70px;}
.video-arrow.right {margin-left: 70px;}
.video-arrow.turn {margin: 68px 0 0 -37px;width: 70px;height: 55px}
.mouse-whell {background-size: 50%;height:102px !important}
.handrightleft {width: 104px;height: 90px;background-size:97px;animation: leftRightMobil 5s linear infinite;right: inherit;}

}


@media only screen and (max-width: 768px) and (orientation: portrait) {
body:not(.zoom-out) .iframeCapsul {height: 100% !important;left: 0 !important;position: fixed;width: 100vw !important;top: 23vw !important;max-height: calc(100% - 23vw);}
.insiderCapsul__build--img {display: none;}
.insiderItem::before {content:"";position: fixed;top:0;left:0;background-size: contain !important;width:100%;height: 100%}
.insiderItem[data-href="store"]::before {background: url(../images/store-mobil-header.png) no-repeat;}
.insiderItem[data-href="postFinance"]::before {background: url(../images/postinsider-mobil-header.png) no-repeat;}
.insiderItem[data-href="orellfussli"]::before {background: url(../images/orell-insider-mobil-header.png) no-repeat;}
.insiderItem[data-href="manor"]::before {background: url(../images/manor-insider-mobil-header.png) no-repeat;}
.insiderItem[data-href="mediamarkt"]::before {background: url(../images/mediamarkt-mobil-header.png) no-repeat;}
.insiderItem[data-href="sunrise"]::before {background: url(../images/sunrise-mobil-header.png) no-repeat;}
.insiderItem[data-href="jumbo"]::before {background: url(../images/jumbo-mobil-header.png) no-repeat;}
.insiderItem[data-href="tchibo"]::before {background: url(../images/tchibo-mobil-header.png) no-repeat;}
.insiderItem[data-href="conforama"]::before {background: url(../images/conforama-mobil-header.png) no-repeat;}
.insiderItem[data-href="ochsner"]::before {background: url(../images/ochsner-mobil-header.png) no-repeat;}
.insiderItem[data-href="migros"]::before {background: url(../images/migros-mobil-header.png) no-repeat;}
.insiderItem[data-href="mcdonalds"]::before {background: url(../images/mcdonalds-mobil-header.png) no-repeat;}
body.zoom-out .insiderCapsul__build--img {display: block !important;height: 100% !important;width: auto !important;}
body.zoom-out .insiderItem::before {display: none !important;}

}

@media only screen and (max-width: 992px) and (orientation: landscape) {

.insiderItem img {height: 900px;width: auto}
.insiderItem {margin-top: -50px;}
.buildings__turn, .restart-turn {width: 30px}

}


@media only screen and (max-width: 768px) {

.exit {background-size: 40px;width: 41px;height: 41px;}
.board {display: none !important;}
body.zoom-out .btn-zoomIn {width:80px;height: 50px;}

}


@media only screen and (min-width: 1025px) {

.keyboardControl {width: 150px;height: 105px;background: url("../images/icon-keyboardcontrol.png") no-repeat;position: fixed;bottom:0;right: 0;z-index: 102}

}
